.header{
    background-color: darkslateblue;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    z-index: 999;
    width: 100%;

    border-left: darkslateblue;
    border-right: darkslateblue;
    border-top: darkslateblue;
    border-bottom: gold;
    border-bottom-width: thick;
    border-style: solid;
}

.headerLeft{
    position: absolute;
    font-size: 25px;
    left: 250px;
    top: 40%;
    bottom: 50%;
    padding-left: 50px;
}

.headerRight{
    position: absolute;
    margin-right: 0;
    margin-left: 85%;
    font-size: 25px;
    top: 40%;
    bottom: 50%;
}

html{
    background-color: #bac5f5;
}