<!DOCTYPE html>
<html style="background-color: #bac5f5" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpartanRide - Drive</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/master.css">
</head>

<body style="background-color: #bac5f5">

    <div class="page-container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg header shadow">
            <div class="container-fluid">

                <a class="headerTitle" style="color: gold" href="../../../../../index.html">SpartanRide</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link nav" href="../about_us.html">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav" href="../rider/rider_home.html">Ride</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav" href="../driver/driver_home.html">Drive</a>
                        </li>

			 <li class="nav-item">
                            <a class="nav-link nav" href="admin_home.html">Admin</a>
                        </li>
                    </ul>

                    <button type="button" class="btn" style="border-radius: 20px; background-color: blanchedalmond; margin-right: 10px">
                        Sign In
                    </button>

                    <button type="button" class="btn" style="border-radius: 20px; background-color: blanchedalmond; margin-left: 10px">
                        Log In
                    </button>

                </div>
            </div>
        </nav>


        <div class="container mt-5" style="color: orange">
            <div class="d-flex flex-wrap align-items-center mb-4">

                <h2 class="mb-0 me-4">User Access Actions:</h2>


                <div class="form-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="banSwitch">
                    <label class="form-check-label" for="banSwitch">Ban</label>
                </div>


                <div class="form-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="suspendSwitch">
                    <label class="form-check-label" for="suspendSwitch">Suspend</label>
                </div>


                <div class="d-flex align-items-center me-3">
                    <label for="usernameInput" class="form-label me-2 mb-0">Username:</label>
                    <input type="text" class="form-control rounded-pill" id="usernameInput" placeholder="Enter username">
                </div>


                
            </div>

        </div>




        <div class="container mt-5" style="color: orange">
            <div class="d-flex flex-wrap align-items-center mb-4">

                <h2 class="mb-0 me-4">Reason:</h2>


                <textarea class="form-control rounded" id="reasonTextarea" rows="6" placeholder="Enter reason here"></textarea>
            </div>

        </div>


        <div class="container mt-5" >
            <button type="button" class="btn btn-danger rounded-pill" >Submit</button>
        </div>



        
            <footer class="mt-auto py-3">
                <h1 class="headerTitle">
                    SpartanRide
                </h1>
            </footer>
        </div>

</body>

</html>