.header{
    background-color: darkslateblue;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    height: 15%;
    margin-bottom: 50px;

    border-left: darkslateblue;
    border-right: darkslateblue;
    border-top: darkslateblue;
    border-bottom: gold;
    border-bottom-width: thick;
    border-style: solid;
}

.headerTitle{
    color: gold;
    padding-right: 45px;
    font-size: 40px;
}


.headerLeft{
    position: absolute;
    font-size: 25px;
    left: 80px;
    top: 40%;
    bottom: 50%;
    padding-left: 50px;
}

.headerRight{
    position: absolute;
    font-size: 25px;
    margin-left: 85%;
    top: 55%;
    bottom: 50%;
}

.main{
    position: absolute;
    margin-top: 8%;
}

.title1{
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #191a36;
    padding: 25px;
    padding-left: 40px;

}

.text1{
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #191a36;
    padding: 25px;
    padding-left: 40px;
}



.roleBox{
    border-color: #191a36;
    border-radius: 50px;
    border-style: solid;
    width: 150px;
    height: 150px;
    align-content: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.floatContainer{
    padding: 20px;
}

.floatChild{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}


html{
    background-color: #bac5f5;
}