/* Headers */
.header{
    background-color: darkslateblue;

    border-left: darkslateblue;
    border-right: darkslateblue;
    border-top: darkslateblue;
    border-bottom: gold;
    border-bottom-width: thick;
    border-style: solid;
}

footer{
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: darkslateblue;
    bottom:0;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 15px;
}



