a:link {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: underline;
}

nav{
    color: palegoldenrod;
    font-family: Alexandria,sans-serif;
}

.button1{
    border-radius: 20px;
    background-color: blanchedalmond;
}