<!DOCTYPE html>
<html style="background-color: #bac5f5" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpartanRide - About Us</title>

    <link rel="stylesheet" href="../static/css/master.css">
</head>

    <body style="background-color: #bac5f5">
        <div class="page-container">
            <!--This is the nav bar that goes on top of each page -Aidan -->
            <nav class="navbar navbar-expand-lg header shadow">
            <div class="container-fluid">

                <a class="headerTitle" style="color: gold" href="home.html">SpartanRide</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link nav" href="about_us.html">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav" href="rider_home.html">Ride</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav" href="driver/driver_home.html">Drive</a>
                        </li>

						 <li class="nav-item">
                            <a class="nav-link nav" href="admin_home.html">Admin</a>
                        </li>
                    </ul>

                    <button type="button" class="btn" style="border-radius: 20px;
                        background-color: blanchedalmond;margin-right: 10px">

                        Sign In

                    </button>

                    <button type="button" class="btn" style="border-radius: 20px;
                        background-color: blanchedalmond ;margin-left: 10px">

                        Log In

                    </button>


                </div>
            </div>
        </nav>

            <div class="header" style="background-color: midnightblue">
                <h1 class="title1" style="color: palegoldenrod; ">
                    About Us
                </h1>
            </div>

                <div class="section2 shadow-lg" style="float: left; position: absolute; margin-bottom: 5%;">
                    <h2>
                        SpartanRide is a carpooling service made
                        <br> with students of UNCG in mind.
                    </h2>
                        <hr>
                    <h3>
                        Socializing is a big part of the College experience, <br>
                        and it isn't always easy to make new friends. <br>
                        Our service aims to allow students to save money, <br>
                        meet new friends, and travel!
                        <br>
                        <br>
                        With SpartanRide, verified students are able to travel where <br>
                        they please. All it takes is to sign up and log in as a student <br>
                        and to set a destination. The choice to drive or ride along is <br>
                        up to you!
                    </h3>
                </div>

                <br>
                <br>

                <img src="../assets/images/road-trip.png" alt="road-trip" class="imageBG">


            <br>

            <div class="header" style="background-color: midnightblue; border-top-color: gold; clear: both;">
                <h1 class="title1" style="color: palegoldenrod; text-align: right;">
                    Environment
                </h1>
            </div>

                <div class="section2" style="float: right; position: absolute;">
                <h2>
                    SpartanRide is not only committed to <br>
                    assisting students, but to the environment too.
                </h2>
                <hr>
                <h3>
                    Our hope with SpartanRide is to reduce <br>
                    carbon emissions in Greensboro.
                    <br>
                    Increasing the number of riders with each <br>
                    student's car trip will help largely lower <br>
                    the amount of exhaust each car outputs into <br>
                    the air.
                </h3>
            </div>


            <br>
            <br>

            <img src="../assets/images/plant.png" alt="road-trip" class="imageBG">

            <footer>
                <h1 class="headerTitle">
                    SpartanRide
                </h1>
            </footer>


        </div>
    </body>
</html>