<!DOCTYPE html>
<html style="background-color: #bac5f5" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpartanRide - Admin Home</title>


    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">


    <link th:href="@{/css/master.css}" rel="stylesheet">


</head>

<body style="background-color: #bac5f5">

<div class="page-container">

    <nav class="navbar navbar-expand-lg header shadow">
        <div class="container-fluid">


            <a class="headerTitle" style="color: gold" th:href="@{/}">
                SpartanRide
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">

                </ul>


            </div>
        </div>
    </nav>


    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
                <a
                        href="/admin/admin-access"
                        class="btn btn-primary btn-lg w-100 rounded-pill text-center"
                >
                    Manage User Access
                </a>
            </div>


            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
                <a
                        href="/admin/admin-review"
                        class="btn btn-warning btn-lg w-100 rounded-pill text-center"
                >
                    Manage Reviews
                </a>
            </div>


            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
                <a
                        href="/admin/stats"
                        class="btn btn-warning btn-lg w-100 rounded-pill text-center"
                >
                    View Stats
                </a>
            </div>
        </div>
    </div>

    <footer class="mt-auto py-3">
        <h1 class="headerTitle">
            SpartanRide
        </h1>
    </footer>
</div>

</body>
</html>
