<!DOCTYPE html>
<html style="background-color: #bac5f5" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpartanRide - Drive</title>

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/master.css}" rel="stylesheet">
</head>

<body style="background-color: #bac5f5">

<div class="page-container">

    <nav class="navbar navbar-expand-lg header shadow">
        <div class="container-fluid">


            <a class="headerTitle" style="color: gold" th:href="@{/}">
                SpartanRide
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link nav" th:href="@{/about_us}">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav" >Ride</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav">Drive</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav" href="/admin/admin-home">Admin</a>
                    </li>
                </ul>

                <button type="button" class="btn" style="border-radius: 20px; background-color: blanchedalmond; margin-right: 10px">
                    Sign In
                </button>

                <button type="button" class="btn" style="border-radius: 20px; background-color: blanchedalmond; margin-left: 10px">
                    Log In
                </button>

            </div>
        </div>
    </nav>

    <div class="container mt-5" style="color: orange">
        <div class="d-flex flex-wrap align-items-center mb-4">

            <h2 class="mb-0 me-4">User Access Actions:</h2>
        </div>
    </div>

    <form action="/admin/ban-driver" method="post" class="mt-3">
        <div class="form-group" style="color: gold;">
            <label for="driverId">Ban Driver</label>
            <input type="number" class="form-control" id="driverId" name="driverId" required min="1" style="background-color: gold;">
        </div>
        <button type="submit" class="btn btn-danger">Ban</button>
    </form>


    <form action="/admin/ban-rider" method="post" class="mt-3">
        <div class="form-group" style="color: gold;">
            <label for="riderId">Ban Rider</label>
            <input type="number" class="form-control" id="riderId" name="riderId" required min="1"  style="background-color: gold;">
        </div>
        <button type="submit" class="btn btn-danger">Ban</button>
    </form>

    <form action="/admin/unban-driver" method="post" class="mt-3">
        <div class="form-group" style="color: gold;">
            <label for="driverId1">Unban Driver</label>
            <input type="number" class="form-control" id="driverId1" name="driverId" required min="1" style="background-color: gold;">
        </div>
        <button type="submit" class="btn btn-success">Unban</button>
    </form>


    <form action="/admin/unban-rider" method="post" class="mt-3">
        <div class="form-group" style="color: gold;">
            <label for="riderId1">Unban Rider</label>
            <input type="number" class="form-control" id="riderId1" name="riderId" required min="1"  style="background-color: gold;">
        </div>
        <button type="submit" class="btn btn-success">Unban</button>
    </form>

    <footer class="mt-auto py-3">
        <h1 class="headerTitle">
            SpartanRide
        </h1>
    </footer>
</div>

</body>
</html>