<!DOCTYPE html>
<html style="background-color: #bac5f5" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>SpartanRide</title>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/master.css"
          th:href="@{/css/master.css}" />
</head>

    <body style="background-color: #bac5f5">

        <!--This is the nav bar that goes on top of each page -Aidan -->
        <nav class="navbar navbar-expand-lg header shadow">
            <div class="container-fluid">

                <a class="headerTitle" style="color: gold" href="/driver/sign-up-page">SpartanRide</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">


                    </ul>

                    <button type="button" class="btn" style="border-radius: 20px;
                        background-color: blanchedalmond;margin-right: 10px">

                        <a href="/driver/sign-up-page">Sign Up</a>

                    </button>

                    <button type="button" class="btn" style="border-radius: 20px;
                        background-color: blanchedalmond ;margin-left: 10px">

                        Log In

                    </button>


                </div>
            </div>
        </nav>

        <div class="floatContainer page-container" style="margin-left: 0; padding-left: 0; padding-right: 10px">
            <!-- Left Body Content -->
            <div class="floatChild" style="width: 60%;">
                <h1 class="title1">
                    Travel, Socialize, and <br>
                    be Productive with Spartan Ride!
                </h1>

                <h2 class="text1">
                    Spartan Ride is a carpooling service for students attending UNCG! <br>
                    Allowing students to not only save money, but to build relationships as well.
                    <br>
                    <br>
                    Starting is easy! All you have to do is verify your status as a <br>
                    student at UNCG, make an account, and then you can start driving!
                </h2>


            </div>

            <!-- Right Body Content -->
            <div class="floatChild signUpBox shadow">

                <div class="text-lg-center signTitle">
                    Driver Sign Up
                </div>

                <div class="text1 infoBox">
                    <form action="/driver/signUp" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" name="name" placeholder="Name"/>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" name="email" placeholder="Email"/>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" id="password" name="password" placeholder="Password"/>
                        </div>

                        <div class="mb-3">
                            <label for="carModel" class="form-label">Car Model</label>
                            <input type="text" id="carModel" name="carModel" placeholder="Car Model">
                        </div>


                        <div class="mb-3">
                            <label for="plateNum" class="form-label">Plate Number</label>
                            <input type="text" id="plateNum" name="plateNum" placeholder="Plate Number"/>
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                    <br>

                </div>

            </div>

            <footer>
                <h1 class="headerTitle">
                    SpartanRide
                </h1>
            </footer>

        </div>



    </body>

</html>